{% extends 'layout.html' %}
{% block body %}
{% from "includes/_formhelper.html" import render_field %}

<div class="container col-lg-10 col-md 12 col-sm-12 col-xs-12">
<table id="example" class="row-border hover" style="width:100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Vendor</th>
                <th>Batch Number</th>
                <th>Batch Date</th>
                <th>Cost</th>
                <th>Quantity</th>
                <th>Status</th>
                {% if role == 0 %}
                    <th></th>
                {% endif %}
                <th></th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>
    <script type="text/javascript">
            $(document).ready(function() {
                $('#example').DataTable( {
                    "responsive": true,
                    "ajax": {
                        "url": "/api/get/",
                        "dataSrc": ""
                    },
                    "columns": [
                        { "data": "id" },
                        { "data": "name" },
                        { "data": "vendor" },
                        { "data": "batch_num" },
                        { "data": "batch_date" },
                        { "data": "mrp" },
                        { "data": "quantity" },
                        { "data": "status" },
                        {% if role == 0%}
                            { "data": null,"defaultContent": "<button id ='approve' class='btn btn-sm btn-success' >Approve</button>"},
                        {% endif %}
                        { "data": null,"defaultContent": "<button id ='modify' class='btn btn-sm btn-warning' >Modify</button>"},
                        { "data": null,"defaultContent": "<button id='delete' class='btn btn-sm btn-danger' >Delete</button>"}

                    ]
                } );
                var table = $('#example').DataTable();


                $('#example tbody').on( 'click', '#delete', function () {
                    console.log('approve clicked')
                    data = table.row( $(this).parents('tr') ).data();
                    id = data['id']
                    name = data['name']
                    $.ajax({
                            type : 'POST',
                            data : JSON.stringify({
                                    'name': name,
                                    'id': id
                            }),
                            contentType: "application/json",
                            url : '/api/delete/'
                    }).done(function(data){
                        if (data['status'] == 'ok'){
                            window.location = '/view'
                        }
                        console.log(data)
                    });
                    console.log( table.row( $(this).parents('tr') ).data() );
                } );

                $('#example tbody').on( 'click', '#approve', function () {
                    console.log('approve clicked')
                    data = table.row( $(this).parents('tr') ).data();
                    id = data['id']
                    name = data['name']
                    $.ajax({
                            type : 'POST',
                            data : JSON.stringify({
                                    'name': name,
                                    'id': id
                            }),
                            contentType: "application/json",
                            url : '/api/approve/'
                    }).done(function(data){
                        if (data['status'] == 'ok'){
                            window.location = '/view'
                        }
                        console.log(data)
                    });
                    console.log( table.row( $(this).parents('tr') ).data() );
                } );

                $('#example tbody').on( 'click', '#modify', function () {
                    console.log('Modify clicked');
                    data = table.row( $(this).parents('tr') ).data();
                    console.log('redirecting to ' + "/modify/" + data["id"] + "/" + data["name"]);
                    window.location = "/modify/" + data["id"] + "/" + data["name"]
                } );
            } );
</script>

{% endblock %}